@import "tailwindcss";

@theme {
  --font-primary: "Nunito, sans-serif";
  --font-secondary: "Oleo-script", sans-serif;
  --color-primary: #323f92;
}

@layer base {
  body {
    @apply font-primary text-lg;
  }
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }
}
