---
import Logo from '../assets/logo_echosafe.svg';
---
<footer> 
<Logo class="w-32 h-32" alt="Echosafe Logo" />
<p class="text-center text-gray-500">© 2023 Echosafe. All rights reserved.</p>
<p class="text-center text-gray-500">Made with ❤️ by Echosafe Team</p>
</footer>
