---
import Logo from "../assets/logo_echosafe.svg";
---

<footer>
  <div>
    <h5>Menu</h5>
    <p class="text-center text-gray-500">Accueil</p>
    <p class="text-center text-gray-500">Nos offres</p>
    <p class="text-center text-gray-500">Accéder à Echosafe</p>
  </div>
  <div>
    <h5>Légal</h5>
    <p class="text-center text-gray-500">Mentions légales</p>
    <p class="text-center text-gray-500">Politiques de confidentialités</p>
    <p class="text-center text-gray-500">CGU</p>
  </div>
  <div>
    <h5>A propos d'Echo Safe</h5>
    <p class="text-center text-gray-500">A propos</p>
  </div>
  <div>
    <h5>Contacte</h5>
    <p class="text-center text-gray-500">Nous contacter</p>
  </div>
  
</footer>
