---
import "../style/global.css";
import Button from "./Button.astro";
import Partenaire from "./Partenaire.astro";
---

<section class="min-h-screen flex items-center -mt-18">
  <div
    class="max-w-7xl mx-auto flex flex-col md:flex-row gap-8 items-center px-6 w-full"
  >
    <!-- Texte -->
    <div
      class="flex flex-col justify-center items-center text-center space-y-30 md:space-y-6 w-full md:items-start md:text-left md:w-1/2 min-h-screen md:min-h-0"
    >
      <h1 class="font-secondary text-3xl md:text-5xl font-bold mt-30">
        Un espace d'écoute et de soutien, en toute sécurité.
      </h1>
      <h3 class="font-bold text-xl">
        Vous n'êtes pas seul(e). Echo Safe offre un espace sécurisé pour les
        victimes de harcèlement, avec écoute, soutien, et accès à des
        professionnels.
      </h3>
      <div class="flex flex-col md:flex-row gap-4 items-center md:items-start">
        <Button variant="dark" url={`/accueil-app`} text={`Accéder à Echo Safe`} />
        <Button url={``} text={`S'inscrire`} />
      </div>
    </div>

    <!-- Images (cachées sur mobile) -->
    <div class="relative hidden md:block md:w-1/2">
      <img
        class="w-120 absolute -translate-y-45 z-0 translate-x-10"
        src="/src/assets/onde.webp"
        alt="fond en forme d'onde"
      />
      <img
        src="/src/assets/femme_hero.webp"
        alt="femme discute"
        class="absolute top-1/2 left-1/2 transform -translate-x-55 -translate-y-50 w-80"
      />
      <img
        src="/src/assets/humeurs.webp"
        alt="cadrant d'humeurs"
        class="absolute transform left-1/2 -top-10 w-65"
      />
    </div>
  </div>
</section>
<Partenaire />
