---
import "../style/global.css";
import Button from "./Button.astro";
---

<hero class="">
  <div class="content-center">
    <h1 class="text-center font-secondary text-[#323f92] text-3xl m-4 ">
      Un espace d'écoute et de soutien, en toute sécurité.
    </h1>

    <h3 class="text-center text-[#323f92] font-bold text-sm">
      Vous n'êtes pas seul(e). Echo Safe offre un espace sécurisé pour les
      victimes de harcèlement, avec écoute, soutien, et accès à des
      professionnels.
    </h3>
    <div class="lg-flex-column-2">
    <div
      class="flex flex-col items-center justify-center text-center mb-5 "
    >
      <div class="mt-5 mb-5"><Button variant="dark" url={``} text={`Accéder à Echo Safe`} /></div>
      <div>
      <Button url={``} text={`S'inscrire`} /></div> 
    <div class="relative w-full h-[500px] sm:h-[600px]">

  <img src="/src/assets/onde.webp" alt="fond en forme d'onde"
       class="absolute inset-0 w-full h-full object-cover z-0" />

  <img src="/src/assets/femme_hero.webp" alt="femme discute"
       class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-1 max-w-[300px] sm:max-w-[400px]" />

  <img src="/src/assets/humeurs.webp" alt="cadrant d'humeurs"
       class="absolute bottom-5 right-5 z-2 w-3xs lg:w-auto sm:w-[150px]" />
</div>
<div class="w-full bg-[#323F92] overflow-hidden py-4 ">
  <div class="animate-marquee whitespace-nowrap flex gap-12">
    <img src="/src/assets/logo-avf.webp" alt="Logo Partenaire 1" class="h-8 lg:h-12 inline-block m-5" />
    <img src="/src/assets/logo-france.webp" alt="Logo Partenaire 2" class="h-8 lg:h-12 inline-block" />
    <img src="/src/assets/logo-3.webp" alt="Logo Partenaire 3" class="h-8 lg:h-12 inline-block m-5" />
    <img src="/src/assets/logo4.webp" alt="Logo Partenaire 4" class="h-8 lg:h-12 inline-block" />
    <img src="/src/assets/logo_unicef.webp" alt="Logo Partenaire 3" class="h-8 lg:h-12 inline-block m-5" />
    <img src="/src/assets/logo_tf1.webp" alt="Logo Partenaire 4" class="h-8 lg:h-12 inline-block" />
    <img src="/src/assets/logo_radiofrance.webp" alt="Logo Partenaire 4" class="h-8 lg:h-12 inline-block" />
    <img src="/src/assets/logo-avf.webp" alt="Logo Partenaire 1" class="h-8 lg:h-12 inline-block m-5" />
    <img src="/src/assets/logo-france.webp" alt="Logo Partenaire 2" class="h-8 lg:h-12 inline-block" />
    <img src="/src/assets/logo-3.webp" alt="Logo Partenaire 3" class="h-8 lg:h-12 inline-block m-5" />
    <img src="/src/assets/logo4.webp" alt="Logo Partenaire 4" class="h-8 lg:h-12 inline-block" />
    <img src="/src/assets/logo_unicef.webp" alt="Logo Partenaire 3" class="h-8 lg:h-12 inline-block m-5" />
    <img src="/src/assets/logo_tf1.webp" alt="Logo Partenaire 4" class="h-8 lg:h-12 inline-block" />
    <img src="/src/assets/logo_radiofrance.webp" alt="Logo Partenaire 4" class="h-8 lg:h-12 inline-block" />
  </div>
</div>

  </div>
</hero>
