---

---

<div
  class="fixed bottom-0 left-0 right-0 bg-white shadow-lg border-t border-gray-300"
>
  <div class="max-w-md mx-auto flex justify-between items-center px-10 py-4">
    <a
      href="/Discussions"
      class="flex flex-col items-center text-indigo-700 hover:text-indigo-900 transition"
    >
      <img
        src="src/assets/iconediscussion.svg"
        alt="Discussions"
        class="w-7 h-7 mb-1"
      />
    </a>

    <a
      href="/"
      class="flex flex-col items-center text-indigo-700 hover:text-indigo-900 transition"
    >
      <img src="src/assets/iconehome.svg" alt="Accueil" class="w-7 h-7 mb-1" />
    </a>

    <a
      href="/Profil"
      class="flex flex-col items-center text-indigo-700 hover:text-indigo-900 transition"
    >
      <img src="src/assets/iconeprofil.svg" alt="Profil" class="w-7 h-7 mb-1" />
    </a>
  </div>
</div>
